body {
    line-height: 30px;
    padding: 50px;
}

h3 {
    font-style: italic;
}

h1 {
    font-size: 25;
    font-family: Georgia;
}

.row {
    line-height: 100px;
    font-family: Georgia;
    font-size: 22
}

h4 {
    font-style: bold;
}